:root {
  --primary-clr: rgb(159, 161, 163);
  --secondary-clr: rgb(212, 15, 54);
  --tertiary-clr: rgb(7, 107, 92);
  --quaternary-clr: rgb(75, 79, 82);
  --quinary-clr: rgb(98, 205, 160);
  --senary-clr: rgb(162, 33, 11);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--primary-clr);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--quaternary-clr);
  border-left: 1px solid var(--quaternary-clr);
  padding: 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  padding-bottom: 5px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--quinary-clr);
}

.hour {
  background-color: var(--quinary-clr);
  color: var(--quaternary-clr);
  border-top: 1px dashed var(--quaternary-clr);
  height: 95px;
  width: 100px;
}

th.hour, .table td {
  padding: 0%;
}

.past {
  background-color: var(--senary-clr);
  color: var(--primary-clr);
}

.present {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.future {
  background-color: var(--tertiary-clr);
  color: var(--primary-clr);
}

.saveBtn {
  border: 1px solid var(--quaternary-clr);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--quinary-clr);
  color: var(--quaternary-clr);
}

.saveBtn i:hover {
  font-size: 20px;
  color: var(--primary-clr);
  transition: all .3s ease-in-out;
}